.button-container {
  max-width: 625px;
  margin: 10px auto;
}

.mat-raised-button {
  width: 625px;
  height: 75px;
  border-radius: 30px;
  background: linear-gradient(to left, darkorange, grey, darkslategray);
;
}
