<div class="title-editor">
  {{ pageTitle }}
</div>
<form [formGroup]="noteForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="write something..."
           formControlName="title"
           name="title"
    />
    <mat-error *ngIf="title.invalid">
      <span *ngIf="title.hasError('required')"></span>
        This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="write something... "
              formControlName ="description"
              name="description"
              required
    ></textarea>
    <mat-error *ngIf="description.invalid">
      <span *ngIf="description.hasError('required')"></span>
      This field is required
    </mat-error>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary" routerLink="/note-list">Cancel</button>
  </div>
</form>



