<div class="title-editor">
  {{ title }}
</div>
<form>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="write something...">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="write something..."></textarea>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary" routerLink="/note-list">Cancel</button>
  </div>
</form>
