<div class="title-editor">
  {{ pageTitle }}
</div>
<form [formGroup]="noteForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="write something..."
           formControlName="title"
           name="title"
    />
    <mat-error *ngIf="title.invalid">
      <span *ngIf="title.hasError('required')"></span>
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="write something... "
              formControlName="description"
              name="description"
    ></textarea>
    <mat-error *ngIf="description.invalid">
      <span *ngIf="description.hasError('required')"></span>
      This field is required
    </mat-error>


  </mat-form-field>
  <div>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="importance"
      name="importance">
      <mat-radio-button class="example-radio-button" *ngFor="let howImportant of importanceDegree"
                        [value]="howImportant">
        {{ howImportant | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit"> Save</button>
    <button mat-raised-button color="primary" type="button" routerLink="/notes">Cancel</button>
  </div>
</form>



