<ng-container *ngIf="note; else noteMissing">
  <mat-card>
    <mat-card-title>Title: {{ note.title }}</mat-card-title>
    <mat-card-subtitle>
      {{ note.importance | titlecase }}
      <p>Id: {{ note.id }}</p>
    </mat-card-subtitle>
    <mat-card-content>
      Description: {{ note.description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button routerLink="/notes" #tooltip="matTooltip"
              matTooltip="Go back"
              [matTooltipPosition]="position.value"
              matTooltipHideDelay="50">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #noteMissing>
  <mat-card>
    <mat-card-content class="notExist">
      <h1>The view of this note doesn't exist.</h1>
    </mat-card-content>
  </mat-card>
</ng-template>


