<ng-container *ngIf="visibility; else backToLabels">
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/note-editor">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #backToLabels>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/labels">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
</ng-template>
<ng-container *ngFor="let note of notes">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ note.title }}</mat-card-title>
      <mat-card-subtitle>{{ note.importance | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <app-note-summary [note]="note">
        </app-note-summary>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <ng-container *ngIf="visibility">
        <button mat-button (click)="onDelete(note)" #tooltip="matTooltip"
                matTooltip="Deleting the note"
                [matTooltipPosition]="position.value"
                matTooltipHideDelay="50">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/note-editor', note.id]" #tooltip="matTooltip"
                matTooltip="Editing the note"
                [matTooltipPosition]="position.value"
                matTooltipHideDelay="50">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="note.description.length > 50">
        <button mat-icon-button [routerLink]="['/note', note.id]" #tooltip="matTooltip"
                matTooltip="Details of the note"
                [matTooltipPosition]="position.value"
                matTooltipHideDelay="50">
          <mat-icon>details</mat-icon>
        </button>

      </ng-container>


    </mat-card-actions>
  </mat-card>
</ng-container>


<ng-container *ngIf="notes.length== 0">
    <mat-card>
      <mat-card-content>
        <b>Sorry, currently we have no data in this section</b>
      </mat-card-content>
    </mat-card>
</ng-container>
