<ng-container *ngIf="visibility; else backToLabels">
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/note-editor">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #backToLabels>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/labels">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
</ng-template>

<ng-container *ngFor="let note of notes">
  <app-note [note]="note"></app-note>
</ng-container>


<ng-container *ngIf="notes.length== 0">
    <mat-card>
      <mat-card-content>
        <b>Sorry, currently we have no data in this section</b>
      </mat-card-content>
    </mat-card>
</ng-container>
