.button-container {
  max-width: 625px;
  margin: 0 auto;
}

.mat-raised-button {
  width: 625px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(to left, darkorange, darkslategray);
  ;
}

.mat-card {
  max-width: 600px;
  margin: 8px auto;
  border-radius: 30px;
  background: linear-gradient(to right, darkorange, darkslategray);
}

.mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

.mat-icon {
  color: black;
}
