.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: linear-gradient(to right, darkorange, darkslategray);
}
.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 240px;
  background: linear-gradient(to left, darkseagreen, ghostwhite);
}

.mat-sidenav-content {
  background: linear-gradient(to right, darkseagreen, ghostwhite);
}

main {
  margin: 20px 20px 0;
}

a.active {
  color: darkseagreen;
}


