.spacer {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 240px;
}

.mat-sidenav-content {
  background: cadetblue;
}

main {
  margin: 20px 20px 0;
}

a.active {
  color: crimson;
}

.mat-sidenav-container {
  background: blue;
}
