<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- side navigation -->
    <!-- side navigation -->

    <mat-nav-list>
      <ng-container *ngIf="getUserName(); else noUser">
        <a mat-list-item routerLinkActive="active">{{ getUserName() }}</a>
      </ng-container>
      <ng-template #noUser>
        <a mat-list-item routerLink="/login" routerLinkActive="active">Login</a>
      </ng-template>
      <a mat-list-item routerLink="/notes" routerLinkActive="active">Notes</a>
      <a mat-list-item routerLink="/labels" routerLinkActive="active">Labels</a>
      <a mat-list-item routerLink="/reminders" routerLinkActive="active">Reminders</a>
    </mat-nav-list>
    <!-- /side navigation -->
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
