.mat-raised-button {
  width: 625px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(to left, var(--color-one), var(--color-two));
;
}

.mat-card {
  max-width: 600px;
  margin: 8px auto;
  border-radius: 30px;
  /*background: linear-gradient(to right, var(--color-one), var(--color-two));*/
}

.mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

.mat-icon {
  color: black;
}

ng-container {

}
